.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px; /* エレメント間の隙間 */
  }
  
.typing-container {
    display: flex;
    align-items: center;
}
  
.cube-container {
    display: flex;
    justify-content: center;
    align-items: center;
}